body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fffbf3;
    color: #333;
}

h1 {
    color: #ff6b6b;
}

img {
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin: 5px 0;
}

button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff3b3b;
}
